<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-dark" style="background-color: #330000;opacity: 0.80;
filter: alpha(opacity=80);">
    <div class="container opacity: 0.95; filter: alpha(opacity=95);" >
      <a class="navbar-brand" style="color : #ffffff" href="#">Apple Book store</a>
      <button class="navbar-toggler"   type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" >
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color : #ffffff">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color : #ffffff" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color : #ffffff" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color : #ffffff" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
 

<div class="container">
  <div class="card border-0 shadow-lg my-5 row ">
     <div class="col-lg-12 text-center card-body p-3 ">
            <h1 class="mt-5">Welcome to Apple book store</h1>
       </div>
    <div id="results" class="col-lg-12 "></div> 

     <div class="col-lg-12 text-center  card-body p-5">
         <p class="lead mb-0 ">Have a look at the list of books and Add or Delete as you like</p>
       </div >
    <!--this makes the table connected 
    change the col-lg-12 to 4and8 then you can change the aline  --> 
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="jquery/table.js"></script>

</body>

</html>
